<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Ghislain GAUCHER">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name='description' content="{% block description %}Welcome!{% endblock %}">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        {% block stylesheets %}<link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="css/extras.css" rel="stylesheet">{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="body">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}
            <script src="js/jquery.min.js" type="text/javascript"></script>
            <script src="js/cv.js" type="text/javascript"></script>
        {% endblock %}

        {% block analytics %}{% endblock %}
    </body>
</html>